<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Africa</key>
	<dict>
		<key>Algeria</key>
		<array>
			<string>370,250</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Algeria</string>
		</array>
		<key>Congo</key>
		<array>
			<string>552,420</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Democratic_Republic_of_the_Congo</string>
		</array>
		<key>Egypt</key>
		<array>
			<string>595,262</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Egypt</string>
		</array>
		<key>Kenya</key>
		<array>
			<string>684,406</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Kenya</string>
		</array>
		<key>Madagascar</key>
		<array>
			<string>756,514</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Madagascar</string>
		</array>
		<key>Morocco</key>
		<array>
			<string>290,220</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Morocco</string>
		</array>
		<key>Niger</key>
		<array>
			<string>416,302</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Niger</string>
		</array>
		<key>Nigeria</key>
		<array>
			<string>392,354</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Nigeria</string>
		</array>
		<key>South Africa</key>
		<array>
			<string>543,574</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=South_Africa</string>
		</array>
		<key>Sudan</key>
		<array>
			<string>600,314</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Sudan</string>
		</array>
	</dict>
	<key>Asia</key>
	<dict>
		<key>India</key>
		<array>
			<string>330,376</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=India</string>
		</array>
		<key>China</key>
		<array>
			<string>509,308</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=China</string>
		</array>
		<key>Indonesia</key>
		<array>
			<string>565,548</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Indonesia</string>
		</array>
		<key>Japan</key>
		<array>
			<string>756,284</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Japan</string>
		</array>
		<key>Pakistan</key>
		<array>
			<string>250,332</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Pakistan</string>
		</array>
		<key>South Korea</key>
		<array>
			<string>678,290</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=South_Korea</string>
		</array>
	</dict>
	<key>Oceania</key>
	<dict>
		<key>Papua New Guinea</key>
		<array>
			<string>542,294</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Papua_New_Guinea</string>
		</array>
		<key>Australia</key>
		<array>
			<string>465,422</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Australia</string>
		</array>
		<key>New Zealand</key>
		<array>
			<string>732,583</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=New_Zealand</string>
		</array>
	</dict>
	<key>Europe</key>
	<dict>
		<key>Italy</key>
		<array>
			<string>525,568</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Italy</string>
		</array>
		<key>Greece</key>
		<array>
			<string>657,606</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Greece</string>
		</array>
		<key>Norway</key>
		<array>
			<string>493,270</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Norway</string>
		</array>
		<key>Portugal</key>
		<array>
			<string>216,571</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Portugal</string>
		</array>
		<key>Germany</key>
		<array>
			<string>498,447</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Germany</string>
		</array>
		<key>Sweden</key>
		<array>
			<string>553,288</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Sweden</string>
		</array>
		<key>Ukraine</key>
		<array>
			<string>765,433</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Ukraine</string>
		</array>
		<key>Finland</key>
		<array>
			<string>657,222</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Finland</string>
		</array>
		<key>United Kingdom</key>
		<array>
			<string>370,376</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=United_Kingdom</string>
		</array>
		<key>Netherlands</key>
		<array>
			<string>446,399</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Netherlands</string>
		</array>
		<key>France</key>
		<array>
			<string>397,481</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=France</string>
		</array>
		<key>Spain</key>
		<array>
			<string>296,563</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Spain</string>
		</array>
	</dict>
	<key>North America</key>
	<dict>
		<key>Cuba</key>
		<array>
			<string>736,567</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Cuba</string>
		</array>
		<key>United States</key>
		<array>
			<string>499,436</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=United_States</string>
		</array>
		<key>Canada</key>
		<array>
			<string>432,312</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Canada</string>
		</array>
		<key>Mexico</key>
		<array>
			<string>468,573</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Mexico</string>
		</array>
	</dict>
	<key>South America</key>
	<dict>
		<key>Chile</key>
		<array>
			<string>424,415</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Chile</string>
		</array>
		<key>Bolivia</key>
		<array>
			<string>470,344</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Bolivia</string>
		</array>
		<key>Brazil</key>
		<array>
			<string>597,315</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Brazil</string>
		</array>
		<key>Argentina</key>
		<array>
			<string>480,486</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Argentina</string>
		</array>
		<key>Colombia</key>
		<array>
			<string>362,208</string>
			<string>http://en.m.wikipedia.org/w/index.php?title=Colombia</string>
		</array>
	</dict>
</dict>
</plist>
