<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>puzzleImageHard1</key>
	<array>
		<integer>242</integer>
		<integer>258</integer>
	</array>
	<key>puzzleImageHard2</key>
	<array>
		<integer>318</integer>
		<integer>247</integer>
	</array>
	<key>puzzleImageHard3</key>
	<array>
		<integer>421</integer>
		<integer>254</integer>
	</array>
	<key>puzzleImageHard4</key>
	<array>
		<integer>506</integer>
		<integer>258</integer>
	</array>
	<key>puzzleImageHard5</key>
	<array>
		<integer>600</integer>
		<integer>262</integer>
	</array>
	<key>puzzleImageHard6</key>
	<array>
		<integer>684</integer>
		<integer>264</integer>
	</array>
	<key>puzzleImageHard7</key>
	<array>
		<integer>780</integer>
		<integer>263</integer>
	</array>
	<key>puzzleImageHard8</key>
	<array>
		<integer>238</integer>
		<integer>338</integer>
	</array>
	<key>puzzleImageHard9</key>
	<array>
		<integer>318</integer>
		<integer>342</integer>
	</array>
	<key>puzzleImageHard10</key>
	<array>
		<integer>404</integer>
		<integer>349</integer>
	</array>
	<key>puzzleImageHard11</key>
	<array>
		<integer>504</integer>
		<integer>351</integer>
	</array>
	<key>puzzleImageHard12</key>
	<array>
		<integer>603</integer>
		<integer>342</integer>
	</array>
	<key>puzzleImageHard13</key>
	<array>
		<integer>707</integer>
		<integer>338</integer>
	</array>
	<key>puzzleImageHard14</key>
	<array>
		<integer>786</integer>
		<integer>340</integer>
	</array>
	<key>puzzleImageHard15</key>
	<array>
		<integer>245</integer>
		<integer>425</integer>
	</array>
	<key>puzzleImageHard16</key>
	<array>
		<integer>331</integer>
		<integer>431</integer>
	</array>
	<key>puzzleImageHard17</key>
	<array>
		<integer>420</integer>
		<integer>426</integer>
	</array>
	<key>puzzleImageHard18</key>
	<array>
		<integer>512</integer>
		<integer>434</integer>
	</array>
	<key>puzzleImageHard19</key>
	<array>
		<integer>598</integer>
		<integer>418</integer>
	</array>
	<key>puzzleImageHard20</key>
	<array>
		<integer>694</integer>
		<integer>432</integer>
	</array>
	<key>puzzleImageHard21</key>
	<array>
		<integer>789</integer>
		<integer>437</integer>
	</array>
	<key>puzzleImageHard22</key>
	<array>
		<integer>237</integer>
		<integer>522</integer>
	</array>
	<key>puzzleImageHard23</key>
	<array>
		<integer>340</integer>
		<integer>506</integer>
	</array>
	<key>puzzleImageHard24</key>
	<array>
		<integer>422</integer>
		<integer>516</integer>
	</array>
	<key>puzzleImageHard25</key>
	<array>
		<integer>524</integer>
		<integer>517</integer>
	</array>
	<key>puzzleImageHard26</key>
	<array>
		<integer>606</integer>
		<integer>516</integer>
	</array>
	<key>puzzleImageHard27</key>
	<array>
		<integer>704</integer>
		<integer>522</integer>
	</array>
	<key>puzzleImageHard28</key>
	<array>
		<integer>790</integer>
		<integer>517</integer>
	</array>
</dict>
</plist>
