<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CA</key>
	<array>
		<string>California</string>
		<string>92,346</string>
	</array>
	<key>NV</key>
	<array>
		<string>Nevada</string>
		<string>151,289</string>
	</array>
	<key>OR</key>
	<array>
		<string>Oregon</string>
		<string>111,193</string>
	</array>
	<key>WA</key>
	<array>
		<string>Washington</string>
		<string>136,137</string>
	</array>
	<key>MT</key>
	<array>
		<string>Montana</string>
		<string>305,166</string>
	</array>
	<key>ID</key>
	<array>
		<string>Idaho</string>
		<string>208,215</string>
	</array>
	<key>UT</key>
	<array>
		<string>Utah</string>
		<string>242,313</string>
	</array>
	<key>AZ</key>
	<array>
		<string>Arizona</string>
		<string>223,400</string>
	</array>
	<key>AK</key>
	<array>
		<string>Alaska</string>
		<string>312,582</string>
	</array>
	<key>NM</key>
	<array>
		<string>New Mexico</string>
		<string>323,405</string>
	</array>
	<key>CO</key>
	<array>
		<string>Colorado</string>
		<string>343,327</string>
	</array>
	<key>WY</key>
	<array>
		<string>Wyoming</string>
		<string>323,244</string>
	</array>
	<key>ND</key>
	<array>
		<string>North Dakota</string>
		<string>446,166</string>
	</array>
	<key>SD</key>
	<array>
		<string>South Dakota</string>
		<string>446,223</string>
	</array>
	<key>NE</key>
	<array>
		<string>Nebraska</string>
		<string>446,282</string>
	</array>
	<key>KS</key>
	<array>
		<string>Kansas</string>
		<string>470,336</string>
	</array>
	<key>OK</key>
	<array>
		<string>Oklahoma</string>
		<string>500,400</string>
	</array>
	<key>TX</key>
	<array>
		<string>Texas</string>
		<string>446,480</string>
	</array>
	<key>LA</key>
	<array>
		<string>Louisiana</string>
		<string>585,480</string>
	</array>
	<key>AR</key>
	<array>
		<string>Arkansas</string>
		<string>580,405</string>
	</array>
	<key>MO</key>
	<array>
		<string>Missouri</string>
		<string>580,336</string>
	</array>
	<key>IA</key>
	<array>
		<string>Iowa</string>
		<string>558,275</string>
	</array>
	<key>MN</key>
	<array>
		<string>Minnesota</string>
		<string>540,200</string>
	</array>
	<key>WI</key>
	<array>
		<string>Wisconsin</string>
		<string>612,223</string>
	</array>
	<key>IL</key>
	<array>
		<string>Illinois</string>
		<string>641,303</string>
	</array>
	<key>MS</key>
	<array>
		<string>Mississippi</string>
		<string>640,439</string>
	</array>
	<key>AL</key>
	<array>
		<string>Alabama</string>
		<string>691,439</string>
	</array>
	<key>GA</key>
	<array>
		<string>Georgia</string>
		<string>761,439</string>
	</array>
	<key>SC</key>
	<array>
		<string>South Carolina</string>
		<string>808,410</string>
	</array>
	<key>FL</key>
	<array>
		<string>Florida</string>
		<string>809,512</string>
	</array>
	<key>NC</key>
	<array>
		<string>North Carolina</string>
		<string>844,378</string>
	</array>
	<key>VA</key>
	<array>
		<string>Virginia</string>
		<string>833,337</string>
	</array>
	<key>NY</key>
	<array>
		<string>New York</string>
		<string>863,229</string>
	</array>
	<key>ME</key>
	<array>
		<string>Maine</string>
		<string>946,166</string>
	</array>
	<key>NH</key>
	<array>
		<string>New Hampshire</string>
		<string>908,150</string>
	</array>
	<key>VT</key>
	<array>
		<string>Vermont</string>
		<string>862,168</string>
	</array>
	<key>MA</key>
	<array>
		<string>Massachusetts</string>
		<string>976,222</string>
	</array>
	<key>RI</key>
	<array>
		<string>Rhode Island</string>
		<string>967,245</string>
	</array>
	<key>CT</key>
	<array>
		<string>Connecticut</string>
		<string>941,262</string>
	</array>
	<key>DE</key>
	<array>
		<string>Delaware</string>
		<string>916,300</string>
	</array>
	<key>NJ</key>
	<array>
		<string>New Jersey</string>
		<string>926,278</string>
	</array>
	<key>MD</key>
	<array>
		<string>Maryland</string>
		<string>913,319</string>
	</array>
	<key>HI</key>
	<array>
		<string>Hawaii</string>
		<string>168,530</string>
	</array>
	<key>KY</key>
	<array>
		<string>Kentucky</string>
		<string>725,347</string>
	</array>
	<key>TN</key>
	<array>
		<string>Tennessee</string>
		<string>699,382</string>
	</array>
	<key>IN</key>
	<array>
		<string>Indiana</string>
		<string>690,309</string>
	</array>
	<key>OH</key>
	<array>
		<string>Ohio</string>
		<string>743,303</string>
	</array>
	<key>MI</key>
	<array>
		<string>Michigan</string>
		<string>704,252</string>
	</array>
	<key>PA</key>
	<array>
		<string>Pennsylvania</string>
		<string>825,273</string>
	</array>
	<key>WV</key>
	<array>
		<string>West Virginia</string>
		<string>783,327</string>
	</array>
</dict>
</plist>
